<h2 mat-dialog-title>Color Picker</h2>
<mat-dialog-content>
    <div fxLayout="column" fxFlexFill >

        <div fxLayout="row" fxFlexFill>
          <div fxFlex="90">
            <div #SBcontrol class="picker-saturation-bright-control"
              [ngStyle]="{'background-color': 'hsl(' + hue + ', 100%, 50%)' }"
              (mousedown)="SBmouseDown($event)"

            >
              <span class="selector"></span>
            </div>

          </div>
          <div fxFlex="10">
            <div #Hcontrol class="picker-hue-control"
              (mousedown)="HmouseDown($event)"
            >
              <span class="selector"></span>
            </div>
          </div>
        </div>
        HEX: {{rgbToHex (red, green, blue)}}
        <br/>
        HSL: {{hue}} {{saturation}} {{brightness}}
        <br/>
        <div class="preview" [ngStyle]="{'background-color': 'rgb(' + red + ', ' + green + ' , '+ blue +')'}"></div>RGB: {{red}} {{green}} {{blue}}

        <div fxLayout="row" fxFlexFill>
          <div class="form-field" fxFlex="70">
            <mat-slider min="0" max="255" step="1" [(ngModel)]="red" name="red" class="red-slider"></mat-slider>
          </div>
          <mat-form-field class="form-field" fxFlex="30">
              <input matInput type="number" placeholder="red" [(ngModel)]="red" name="red" min="0" max="255">
          </mat-form-field>
        </div>

        <div fxLayout="row" fxFlexFill>
          <div class="form-field" fxFlex="70">
            <mat-slider min="0" max="255" step="1" [(ngModel)]="green" name="green"></mat-slider>
          </div>
          <mat-form-field class="form-field" fxFlex="30">
              <input matInput type="number" placeholder="green" [(ngModel)]="green" name="green" min="0" max="255">
          </mat-form-field>
        </div>

        <div fxLayout="row" fxFlexFill>
          <div class="form-field" fxFlex="70">
            <mat-slider min="0" max="255" step="1" [(ngModel)]="blue" name="blue"></mat-slider>
          </div>
          <mat-form-field class="form-field" fxFlex="30" >
              <input matInput type="number" placeholder="blue" [(ngModel)]="blue" name="blue" min="0" max="255">
          </mat-form-field>
        </div>
      </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button (click)="this.save()">Apply</button>
</mat-dialog-actions>
