<div *ngIf="editorService.selectedShape">
  <form (ngSubmit)="updateShape()" (change)="updateShape()">
      <h1>Propriedades</h1>
      <b>type:</b> {{editorService.selectedShape?.type}} <br/>
      <b>id:</b> <input type="text" [(ngModel)]="editorService.selectedShape.id" name="id" ><br/>
      <b>x:</b> <input type="number" [(ngModel)]="x" name="x" > <br/>
      <b>y:</b> <input type="number" [(ngModel)]="y" name="y"> <br/>
      <b>height:</b> <input type="number" [(ngModel)]="height" name="height" > <br/>
      <b>width:</b> <input type="number" [(ngModel)]="width" name="width"> <br/>
      <b>rotation:</b> <input type="number" [(ngModel)]="rotation" name="rotation"> <br/>
      <h2>Style</h2>
      <b>background:</b> <input type="text" [(ngModel)]="fill" name="fill"> <br/>
      <h3>Stroke</h3>
      <b>color:</b> <input type="text" [(ngModel)]="stroke" name="stroke"> <br/>
      <b>size:</b> <input type="number" [(ngModel)]="lineWidth" name="lineWidth"> <br/>
      <button type="submit">Alterar</button>
  </form>
</div>
